/*RESET GENERAL*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LISTAS*/

ul,
ol {
    list-style: none;
}

/*IMAGENES Y MULTIMEDIA*/



/*OTROS*/
[hidden] {
  display: none !important;
}