@use '../base/variables';
@use "../base/mixins";

.footer {
  grid-area: footer;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  border-top: variables.$border;
  text-align: center; 
  
  &__title {
    @include mixins.titulo-base(variables.$color-terciario);
    margin-top: 2rem;
  }

  &__credit {
    color: variables.$color-principal;
  }
}