/*LOGO*/

@keyframes rotate-gear {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fromY {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fromX {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0%);
    }
}

/*BANNER*/

@keyframes backBanner {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 50% 50%;
    }
}

@keyframes showText {
    0% {
        transform: translateX(-600%) scale(5, 5);
        text-shadow: none;
        color: transparent;
        opacity: 1;

    }

    50% {
        transform: translateX(600%) scale(5, 5);
        opacity: 1;
    }

    75% {
        transform: translateX(-600%) scale(5, 5);
        opacity: 1;
    }

    100% {
        transform: translateX(0%) scale(1, 1);
        opacity: 1;
    }
}

/*CARDS*/

@keyframes iconY {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes titleY {
    from {
        transform: translateY(-300%);
        color: black;
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes descriptionX {
    from {
        transform: translateX(-300%);
        color: black;
    }

    to {
        transform: translateX(0%);
    }
}

/*BLOG*/

@keyframes blink {
    0% {
        box-shadow: 0px 0px 5px #37bcf9, 0px 0px 10px #37bcf9, 0px 0px 20px #37bcf9;

    }

    25% {
        box-shadow: 0px 0px 5px white, 0px 0px 10px white, 0px 0px 20px white;
    }

    50% {
        box-shadow: 0px 0px 5px #37bcf9, 0px 0px 10px #37bcf9, 0px 0px 20px #37bcf9;
    }

    75% {
        box-shadow: 0px 0px 5px white, 0px 0px 10px white, 0px 0px 20px white;
    }

    100% {
        box-shadow: 0px 0px 5px #37bcf9, 0px 0px 10px #37bcf9, 0px 0px 20px #37bcf9;
    }
}