/*VARIABLES*/

:root {
    --color-main: #ffffff;
    --color-secondary: #04B4E0;

    --color-background: #f2f2f9;
    --color-transparent: transparent;

    --color-icon: #B5B6B7;
    --color-title: #222222;
    --color-subtitle: #888;
    --color-text: #555;
}


/*ESTILOS GENERALES*/

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--color-text);

    background-color: var(--color-background);
    background-image: url("../img/fondo.png");
    background-position: -30px -120px;
    background-size: cover;
    background-repeat: no-repeat;

}


h1 {
    font-size: clamp(1.5rem, 5vw, 2.25rem);
    font-weight: bold;
}

h2 {
    font-size: clamp(1.25rem, 4vw, 1.75rem);
    font-weight: bold;
}

h3 {
    font-size: clamp(1.125rem, 3vw, 1.5rem);
    font-weight: bold;
}

h4 {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-title);
}


/*LAYOUT*/

.layout {
    position: relative;
    width: 75%;
    min-width: 1290px;
    height: 80%;
    min-height: 80vh;
    margin: 10vh auto;

    display: grid;
    grid-template-areas: "aside main";
    grid-template-columns: 30% 70%;

    border-radius: 4rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);

    background-color: var(--color-secondary);
}


/*ASIDE*/

.aside {
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow: hidden;
}

.info {
    min-width: 30rem;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--color-secondary);
    color: var(--color-main);
}

.user__image {
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 5rem;
    z-index: 1;
}

.user__userimg {
    width: 100%;

    background-color: var(--color-secondary);
    border: 0.3rem solid var(--color-main);
    border-radius: 20rem;
}

.user__image::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: repeating-radial-gradient(circle at center, #fff, #fff 1px, transparent 1px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.6;
    border-radius: 20rem;
}

.user__name {
    font-size: 3.2rem;
    margin-top: 2.6rem;
    color: var(--color-main);
}

.user__title {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--color-main);
}

.nav {
    display: none
}

.social {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.social__list {
    text-align: center;
    display: flex;
    gap: 1.5rem;
}

.social__item {
    font-size: 2.5rem;
    opacity: 0.9;
    transition: all 0.3s;
}

.social__item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.info__footer {
    margin-top: 2rem;
}

.info__dedicatory, 
.info__copy {
    font-size: 1.1rem;
}


/*MAIN*/

.main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-main);
    border-radius: 4rem;
}

.page__name {
    font-size: 5rem;
}

.page__title {
    margin-top: 1.5rem;
    color: var(--color-subtitle);
}