/*VARIABLES*/

:root {
    --color-main: #ffffff;
    --color-secondary: #04B4E0;

    --color-background: #f2f2f9;
    --color-transparent: transparent;

    --color-icon: #B5B6B7;
    --color-title: #222222;
    --color-subtitle: #888;
    --color-text: #555;
    --color-linkactive: #6c757d;
}


/*ESTILOS GENERALES*/

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--color-text);

    background-color: var(--color-background);
    background-image: url("../img/fondo.png");
    background-position: -30px -120px;
    background-size: cover;
    background-repeat: no-repeat;

}


h1 {
    font-size: clamp(1.5rem, 5vw, 2.25rem);
    font-weight: bold;
}

h2 {
    font-size: clamp(1.25rem, 4vw, 1.75rem);
    font-weight: bold;
}

h3 {
    font-size: clamp(1.125rem, 3vw, 1.5rem);
    font-weight: bold;
}

h4 {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-title);
}


/*LAYOUT*/

.layout {
    position: relative;
    width: 75%;
    min-width: 1290px;
    height: 80%;
    min-height: 80vh;
    margin: 10vh auto;

    display: grid;
    grid-template-areas: "aside main";
    grid-template-columns: 30% 70%;

    border-radius: 4rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
}


/*ASIDE*/

.aside {
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
}

.info {
    min-width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--color-secondary);
    color: var(--color-main);
    border-radius: 4rem 0 0 4rem;
}

.user__image {
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: -2rem;
    z-index: 1;
}

.user__userimg {
    width: 100%;

    background-color: var(--color-secondary);
    border: 0.3rem solid var(--color-main);
    border-radius: 20rem;
}

.user__image::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: repeating-radial-gradient(circle at center, #fff, #fff 1px, transparent 1px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.6;
    border-radius: 20rem;
}

.user__name {
    font-size: 3.2rem;
    margin-top: 3rem;
    color: var(--color-main);
}

.user__title {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--color-main);
}

.social {
    margin-top: 5rem;

}

.social__list {
    text-align: center;
    display: flex;
    gap: 1.5rem;
}

.social__item {
    font-size: 2.5rem;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.social__item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.info__footer {
    position: absolute;
    bottom: 1rem;
    font-size: 1.2rem;
}


/*MAIN*/

.main {
    grid-area: main;

    background-color: var(--color-secondary);
    border-radius: 0 4rem 4rem 0;
}

.page {
    min-width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--color-main);
    border-radius: 4rem;
}

.page__name {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.page__title {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--color-subtitle);
}

/*MENU LATERAL*/

.nav {
    position: absolute;
    top: 0;
    right: -65px;

    width: 4%;
    height: 55%;

    display: block;

    background-color: var(--color-transparent);
}

.nav__list {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    background-color: var(--color-main);

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.nav__item {
    display: block;
    width: 100%;
    text-align: center;
}

.nav__link {
    display: flex;
    flex-direction: column;
}

.nav__link {
    font-size: 2.8rem;
    color: var(--color-icon);
    transition: all 0.3s ease-in-out;
}

.nav__link:hover {
    text-decoration: none;
    color: var(--color-secondary);
}

.nav__link--active {
    color: var(--color-linkactive);
}

.nav__link--active:hover {
    color: var(--color-linkactive);
    transform: none;
}

.nav__text {
    position: absolute;
    right: 0;
    margin-top: -0.4rem;

    display: block;
    padding: 0.3rem 1rem;

    font-size: 2rem;
    background-color: var(--color-secondary);
    border-radius: 50px 0 0 50px;
    color: var(--color-main);
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.nav__link:hover .nav__text {
    opacity: 1;
    right: 100%;
}

.nav__link--active:hover .nav__text {
    opacity: 0;
}


/*PAGE SOBRE MI*/

.page--about {
    min-width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5rem;
    text-align: justify;

    border-radius: 4rem 0 0 4rem;

    max-height: 557px;
    /* Limita el alto */
    overflow-y: auto;
    /* Activa el scroll vertical */
}

.page--about::-webkit-scrollbar {
    width: 1rem;
}

.page--about::-webkit-scrollbar-track {
    background: var(--color-transparent);

}

.page--about::-webkit-scrollbar-thumb {
    background-color: var(--color-icon);
}

.about {
    margin-bottom: 5rem;
}

.about__title {
    font-size: 5rem;
    color: var(--color-title);
}

.title__blue {
    position: relative;
    color: var(--color-secondary);
    z-index: 1;
}

.title__blue::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 35%;
    z-index: -1;
    width: 110%;
    height: 66%;
    background-image: repeating-radial-gradient(circle at center, var(--color-secondary), var(--color-secondary) 1px, transparent 1px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 1;
}

.about__information {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: auto auto;
    gap: 4rem;
}

.about__description {
    color: var(--color-text);
    font-weight: 500;
    margin-bottom: 1rem;
}

.about__info {
    text-align: start;
}

.about__item {
    color: var(--color-secondary);
    font-weight: bold;
    margin-bottom: 2rem;
}

.about__fact {
    color: var(--color-text);
    font-weight: 500;
    margin-left: 0.5rem;
}


/*LO QUE HAGO*/

.services__header,
.tools__header {
    margin-bottom: 2rem;
}

.services__title,
.tools__title {
    font-size: 3rem;
    color: var(--color-title);
}

.services__area {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 4rem;
}

.services__icon {
    font-size: 4rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.services__subtitle {
    font-size: 2rem;
    color: var(--color-subtitle);
    margin-bottom: 1.5rem;
}

.services__description {
    color: var(--color-text);
    font-weight: 500;  
}

.icon__backend {
    font-size: 5rem;
}


/*HERRAMIENTAS*/

.about__tools {
    margin-bottom: 4rem;
}

.tools__icon {
    color: var(--color-secondary);
}


/*CLOSING*/
.about__closing {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    color: var(--color-text);
    text-align: center;
}