/*VARIABLES*/

:root {
    --color-main: #ffffff;
    --color-secondary: #04B4E0;

    --color-background: #f2f2f9;
    --color-transparent: transparent;

    --color-icon: #B5B6B7;
    --color-title: #222222;
    --color-subtitle: #888;
    --color-text: #555;
    --color-linkactive: #6c757d;
}


/*ESTILOS GENERALES*/

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--color-text);

    background-color: var(--color-background);
    background-image: url("../img/fondo.png");
    background-position: -30px -120px;
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
}


h1 {
    font-size: clamp(1.5rem, 5vw, 2.25rem);
    font-weight: bold;
}

h2 {
    font-size: clamp(1.25rem, 4vw, 1.75rem);
    font-weight: bold;
}

h3 {
    font-size: clamp(1.125rem, 3vw, 1.5rem);
    font-weight: bold;
}

h4 {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-title);
}


/*LAYOUT*/

.layout {
    position: relative;
    width: 75%;
    min-width: 1200px;
    height: 80%;
    min-height: 80vh;
    margin: 10vh auto;

    display: grid;
    grid-template-areas: "aside main";
    grid-template-columns: 0.6fr 1.4fr;

    border-radius: 4rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
}


/*ASIDE*/

.aside {
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;

    padding: 1rem;

    background-color: var(--color-secondary);

}

.info {
    min-width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: var(--color-main);
    border-radius: 4rem 0 0 4rem;
}

.user__image {
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: -2rem;
    z-index: 1;
}

.user__userimg {
    width: 100%;

    background-color: var(--color-secondary);
    border: 0.3rem solid var(--color-main);
    border-radius: 20rem;
}

.user__image::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: repeating-radial-gradient(circle at center, #fff, #fff 1px, transparent 1px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.6;
    border-radius: 20rem;
}

.user__name {
    font-size: 3.2rem;
    margin-top: 3rem;
    color: var(--color-main);
}

.user__title {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--color-main);
}

.social {
    margin-top: 5rem;
}

.social__list {
    text-align: center;
    display: flex;
    gap: 1.5rem;
}

.social__item {
    font-size: 2.5rem;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.social__item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.info__footer {
    position: absolute;
    bottom: 1rem;
    font-size: 1.2rem;
}


/*MAIN*/

.main {
    grid-area: main;

    background-color: var(--color-secondary);
    border-radius: 0 4rem 4rem 0;
}

.page {
    min-width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--color-main);
    border-radius: 4rem;
}

.page__name {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.page__title {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--color-subtitle);
}

/*MENU LATERAL*/

.nav {
    position: absolute;
    top: 0;
    right: -65px;

    width: 4%;
    height: 55%;

    display: block;

    background-color: var(--color-transparent);
}

.nav__list {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    background-color: var(--color-main);

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.nav__item {
    display: block;
    width: 100%;
    text-align: center;
}

.nav__link {
    display: flex;
    flex-direction: column;

    font-size: 2.8rem;
    color: var(--color-icon);
    transition: all 0.3s ease-in-out;
}

.nav__link:hover {
    text-decoration: none;
    color: var(--color-secondary);
}

.nav__link--active {
    color: var(--color-linkactive);
}

.nav__link--active:hover {
    color: var(--color-linkactive);
    transform: none;
}

.nav__text {
    position: absolute;
    right: 0;
    margin-top: -0.4rem;

    visibility: hidden;
    padding: 0.3rem 1rem;

    font-size: 2rem;
    background-color: var(--color-secondary);
    border-radius: 50px 0 0 50px;
    color: var(--color-main);
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.nav__link:hover .nav__text {
    visibility: visible;

    opacity: 1;
    right: 100%;
}

.nav__link--active:hover .nav__text {
    visibility: hidden;
    opacity: 0;
}


/*PAGE SOBRE MI*/

.page--about,
.page--studies,
.page--portfolio,
.page--contacto {
    display: block;
    padding: 5rem;
    text-align: justify;

    max-height: 557px;
    /* Limita el alto */
    overflow: auto;
    /* Activa el scroll vertical */
}

.page--about::-webkit-scrollbar,
.page--studies::-webkit-scrollbar,
.page--portfolio::-webkit-scrollbar {
    width: 0.7rem;
}

.page--about::-webkit-scrollbar-track,
.page--studies::-webkit-scrollbar-track,
.page--portfolio::-webkit-scrollbar-track {
    background: var(--color-transparent);
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.page--about::-webkit-scrollbar-thumb,
.page--studies::-webkit-scrollbar-thumb,
.page--portfolio::-webkit-scrollbar-thumb {
    background-color: var(--color-transparent);
}

.page--about:hover::-webkit-scrollbar-thumb,
.page--studies:hover::-webkit-scrollbar-thumb,
.page--portfolio:hover::-webkit-scrollbar-thumb {
    background-color: var(--color-icon);
}

.page--about:hover::-webkit-scrollbar-thumb:hover,
.page--studies:hover::-webkit-scrollbar-thumb:hover,
.page--portfolio:hover::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary);
}

.about {
    margin-bottom: 2.5rem;
}

.about__title,
.studies__title,
.portfolio__title,
.contacto__title {
    font-size: 3rem;
}

.title__blue {
    position: relative;
    color: var(--color-secondary);
    z-index: 1;
}

.title__blue::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 35%;
    z-index: -1;
    width: 110%;
    height: 66%;
    background-image: repeating-radial-gradient(circle at center, var(--color-secondary), var(--color-secondary) 1px, transparent 1px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 1;
}

.about__information {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: auto auto;
    gap: 4rem;
}

.about__description {
    color: var(--color-text);
    font-weight: 500;
    margin-bottom: 1rem;
}

.about__info {
    text-align: start;
}

.about__item {
    color: var(--color-secondary);
    font-weight: bold;
    margin-bottom: 2rem;
}

.about__fact {
    color: var(--color-text);
    font-weight: 500;
    margin-left: 0.5rem;
}


/*LO QUE HAGO*/

.services__header,
.tools__header,
.studies__header,
.complementary__header,
.experiencie__header,
.skills__header,
.aprendizaje__header,
.personal__header,
.profesional__header {
    margin-bottom: 2rem;
}

.services__title,
.tools__title,
.studies__formation,
.complementary__title,
.experiencie__title,
.skills__title,
.aprendizaje__title,
.personal__title,
.profesional__title {
    font-size: 2rem;
}

.services__area {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 4rem;
}

.services__icon {
    font-size: 3rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.services__subtitle {
    font-size: 1.5rem;
    color: var(--color-subtitle);
    margin-bottom: 1.5rem;
}

.services__description {
    color: var(--color-text);
    font-weight: 500;
}

.icon__backend {
    font-size: 5rem;
}


/*HERRAMIENTAS*/

.about__tools {
    margin-bottom: 4rem;
}

.tools__icon {
    color: var(--color-secondary);
}


/*CLOSING*/
.about__closing {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    color: var(--color-text);
    text-align: center;
}


/*PAGE ESTUDIOS*/

.page--studies {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: auto auto;
    grid-template-areas: "studies studies"
        "studies__container studies__skills";
    gap: 4rem;
}

.studies {
    grid-area: studies;
}

.studies__container {
    grid-area: studies__container;
}

.studies__skills {
    grid-area: studies__skills;
    align-self: flex-start;
    text-align: start;
}

.studies__timeline,
.studies__area,
.complementary__area,
.skills__desing {
    margin-bottom: 3rem;
}

.studies__area,
.complementary__area,
.experiencie__area {
    width: 100%;
    display: flex;
}

.studies__timeline {
    position: relative;
    overflow: hidden;
}

.studies__timeline::before {
    content: "";
    position: absolute;
    left: 98px;
    top: 55px;
    transform: translateX(-50%);
    width: 0.5px;
    height: 2000px;
    background-color: lightgrey;
}

.studies__complementary {
    position: relative;
}

.studies__complementary::before {
    content: "";
    position: absolute;
    left: 68px;
    top: 55px;
    transform: translateX(-50%);
    width: 0.9px;
    height: 280px;
    background-color: lightgrey;
}

.studies__expereiencie {
    position: relative;
}

.studies__expereiencie::before {
    content: "";
    position: absolute;
    left: 89.5px;
    top: 55px;
    transform: translateX(-50%);
    width: 0.9px;
    height: 50px;
    background-color: lightgrey;
}

.studies__line {
    position: relative;
    padding-left: 2rem;
}

.studies__line::before {
    content: "";
    position: absolute;
    left: -15%;
    top: 5px;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--color-secondary);
    border-radius: 100rem;
    opacity: 0.4;
}

.studies__line::after {
    content: "";
    position: absolute;
    left: -4.8%;
    top: 6.5px;
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--color-main);
    border: 2px solid var(--color-secondary);
    border-radius: 100rem;
    opacity: 1;
}


.complementary__line {
    position: relative;
    padding-left: 2rem;
}

.complementary__line::before {
    content: "";
    position: absolute;
    left: -5%;
    top: 5px;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--color-secondary);
    border-radius: 100rem;
    opacity: 0.4;
}

.complementary__line::after {
    content: "";
    position: absolute;
    left: 5%;
    top: 7px;
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--color-main);
    border: 2px solid var(--color-secondary);
    border-radius: 100rem;
    opacity: 1;
}


.experiencie__line {
    position: relative;
    padding-left: 2rem;
}

.experiencie__line::before {
    content: "";
    position: absolute;
    left: -8%;
    top: 5px;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--color-secondary);
    border-radius: 100rem;
    opacity: 0.4;
}

.experiencie__line::after {
    content: "";
    position: absolute;
    left: 0%;
    top: 6.5px;
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--color-main);
    border: 2px solid var(--color-secondary);
    border-radius: 100rem;
    opacity: 1;
}

.studies__information,
.complementary__information,
.experiencie__information {
    margin-right: 1rem;
}

.studies__degree {
    margin-bottom: 2rem;
}

.studies__year,
.complementary__year,
.experiencie__year,
.studies__institution,
.complementary__institution,
.experiencie__company {
    display: block;
    text-align: right;
}

.studies__institution,
.complementary__institution,
.experiencie__company {
    color: var(--color-subtitle);
}

.skills__area {
    display: flex;
    justify-content: space-between;
}

.skills__number {
    font-size: 1.2rem;
    color: var(--color-subtitle);
}

.skills__progressbar {
    width: 100%;
    height: 1rem;

    border: 1px solid var(--color-secondary);
    border-radius: 1rem;
    background-color: var(--color-main);

    margin-bottom: 1rem;
}

.skills__percentage {
    width: 100%;
    height: 0.8rem;

    background-color: var(--color-secondary);
    border: 2px solid var(--color-main);
    border-radius: 1rem;
}

.skills__percentage--diseñoweb {
    width: 50%;
}

.skills__percentage--diseñofrontend {
    width: 80%;
}

.skills__percentage--js {
    width: 10%;
}

.skills__percentage--htmlcss {
    width: 80%;
}


/*PAGE PROYECTOS*/

.portfolio,
.contacto {
    margin-bottom: 3rem;
}

.aprendizaje__projects,
.personal__projects,
.profesional__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.aprendizaje__project,
.personal__project,
.profesional__project {
    width: 90%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    border: 2px solid lightgrey;

    margin-bottom: 3rem;

    overflow: hidden;

    transition: all 0.3s ease-in-out;
}

.aprendizaje__project:hover,
.personal__project:hover,
.profesional__project:hover {
    transform: translateY(-5px);
    background: linear-gradient(to bottom, var(--color-secondary), rgba(95, 182, 232, 0.744));
    border: 2px solid var(--color-secondary);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.aprendizaje__img,
.personal__img,
.profesional__img {
    width: 100%;
    height: auto;

    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.aprendizaje__info,
.personal__info,
.profesional__info {
    padding: 1rem;
}

.aprendizaje__link,
.personal__link,
.profesional__link {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secondary);
}

.aprendizaje__project:hover .aprendizaje__info,
.aprendizaje__project:hover .aprendizaje__link,
.personal__project:hover .personal__info,
.personal__project:hover .personal__link,
.profesional__project:hover .profesional__info,
.profesional__project:hover .profesional__link {
    color: var(--color-main);
}

/*.aprendizaje__project:hover .aprendizaje__img {
    transform: scale(1.1);
}*/


/*PAGE CONTACTO*/

.contacto__contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 15rem);
    gap: 2rem;
    padding: 3rem;
    margin-top: 2.5rem;
}

.contact__ubication,
.contact__tel,
.contact__mail,
.contact__work {
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid lightgrey;
    background-color: #fafafa;

    transition: all 0.3s ease-in-out;
}

.contact__ubication:hover,
.contact__tel:hover,
.contact__mail:hover,
.contact__work:hover {
    border: 2px solid var(--color-secondary);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.contact__icon {
    font-size: 3.5rem;
    color: var(--color-secondary);
    margin-bottom: 1.5rem;
}

.contact__ubication,
.contact__mail {
    margin-left: 5rem;
}

.contact__title {
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
}

.contact__title:hover {
    transform: scale(1.1);
}